body {
  font-family: 'Poppins';
  min-height: 1500px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  flex-direction: column;
  font-size: 2rem;
}

.about p {
  font-size: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: center;
}

.services {
  align-items: center;
}

.services img {
  width: 100%
}

