.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
    padding-top: 2.5%;
}

.container img {
    width: 50%;
    border-radius: 30px;
}

.para {
    font-family: "Poppins";
    font-size: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
}

.title {
    font-family: "Poppins";
    font-size: 4rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}

.blogger {
    width: 17.5%;
}

.blogger img {
    float: right;
    border-radius: 10px;
    padding-bottom: 5%;
}