*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* .title{
    text-align: center;
} */
footer{
    background: #07a081;
    color: white;
    padding: 2rem 16vw;
    padding-top: 10%;

}

.newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.newsletter h2{
    display: flex;
    flex-direction: column;
}

.newsletter span:nth-child(2){
    font-size: 13px;
    font-weight: 100;
}

.newsletter form{
    margin: 20px 0;
}

.newsletter form input{
    height: 40px;
    width: 17vw;
    padding: 0 15px;
    outline: none;
}

.newsletter form button{
    height: 40px;
    width: 5rem;
    color: black;
    background-color: white;
    border: none;
}

.social-icons{
    display: flex;

}
.social-icons li{
    list-style: none;
    margin: 0 12px;

}

.social-icons li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.social-icons li a:hover{
    color: rgb(186, 177, 177);
}

hr{
    background-color: white;
    border: 1px solid white;
    margin: 30px 0 
    
    
}

.main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30 px;
}

.footer-logo{
    letter-spacing: 2px;
    text-shadow: 0 2px 6px black;
}
.links{
    margin:10px 0;
}
.links h6{
    font-size: 14px;
}
.links ul{
    margin:10px 0;

}

.links li{
    list-style: none;
    margin:4px 0;
}

.links li a{
    text-decoration: none;
    font-size: 13px;
    color: white;
    transition: 0.3s ease;
}

.links li a:hover{
   transform: scale(1.1)
}