body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Poppins";
}

.hbg{
    display: block;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.container{
    display: block;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #D6ebdc;
}
