html{
  font-size: 70%;
  font-family: "Poppins";
}

.navbar {
    position: relative;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0.5rem -0.2rem 2.3rem 8.2rem;
    padding-top: 1%;
    width: 100%;
    font-family: "Poppins";

    .items {
      align-items: centre;
      display: flex;
      flex-shrink: 0;
      margin: 0rem 7.15rem 1.11rem 0rem;
  
      .logo {
        flex-shrink: 0;
        height: 3.1798rem;
        margin: 0.01rem 1.5rem 0rem 0rem;
        object-fit: contain;
        vertical-align: top;
        width: 4.3rem;
      }
  
      .pawsconnect {
        color: #404146;
        flex-shrink: 0;
        font-family: Cabin, "Poppins";
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.215;
        margin: 0.5rem 11.2rem 0rem 0rem;
        white-space: nowrap;
        text-decoration: none;
      }
  
      .amenu {
        color: #404146;
        flex-shrink: 0;
        font-family: Lato, "Poppins";
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2;
        margin: 0.6rem 2.5rem 0rem 0rem;
        white-space: nowrap;
        text-decoration: none;
      }
  
      .amenu:hover {
        color: #07a180;
        flex-shrink: 0;
        font-family: Lato, "Poppins";
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2;
        margin: 0.6rem 2.5rem 0rem 0rem;
        white-space: nowrap;
        text-decoration: none;
      }
      }
    }
  
    .line1 {
      background-color: #404146;
      flex-shrink: 0;
      height: 0.05rem;
      margin: 0rem 16.55rem 5.75rem 12.8rem;
      width: calc(100% - 29.35rem);
  }
  